html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url("../images/index.jpg");
    display: table;
    top: 0;
    background-size: cover;
}

.intro .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.content h1{
    -webkit-text-stroke: 0.35px rgb(49, 49, 49);
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    font-size: 250%;
}

.content .btn {
    border-radius: 9px;
    color: #AE7233;
    -webkit-text-stroke: 0.2px rgb(49, 49, 49);
    font-size: 130%;
    padding: 10px 20px;
    border: solid #AE7233 3px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-text-stroke: 0.1px black;
}

.content .btn:hover{
    color: rgb(255, 168, 74);
    border: solid rgb(255, 168, 74)3px;
}

.s-bg
{
    background: rgb(255,255,255);
    background: linear-gradient(99deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 61%, rgba(221,221,221,1) 100%);
}

.s-nb a:hover{
    opacity: 0.8;
}

.s-nb{
    padding-left: 2%;
    padding-right: 2%;
    background: rgb(205,0,0);
    background: linear-gradient(90deg, rgba(205,0,0,1) 0%, rgba(116,0,0,1) 50%, rgba(219,0,0,1) 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s-nb a{
    text-decoration: none;
}

.s-nb img
{
    margin-left: auto;
    float: left;
    width: 45px;
    vertical-align: middle;
}

.s-nb h1{
    font-style: italic;
    margin-left: 10px;
    display: inline;
    vertical-align: middle;
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.s-nb a
{
    color: rgb(250, 250, 250);
    font-size: 26px;
}

.s-nb a:hover{
    color: rgb(252, 252, 252);
}