html,body 
{ 
    height: 100%; 
    margin: 0px; 
    padding: 0px;
    border: 0px;
    overflow: auto;
    background: rgb(255,255,255);
    background: linear-gradient(99deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 61%, rgba(221,221,221,1) 100%);
}

:root
{
    --bg: #F8F9FB;
    --sb-bg: rgb(146, 0, 0);
    --sb-bg-h:rgb(185, 0, 0);
    --sb-t: rgb(240, 240, 240); 
    --sb-t-h:  #b9b9b9;
    --nb-bg: rgb(129, 0, 0);
}

a.foot
{
    margin-bottom: 50px;
    padding-bottom: 50px;
    float: right;
    margin-right: 60px;
}

a.hide{
    text-decoration: none;
    color: #000000;
}

a.hide:hover
{
    color: #616161;
}

.ss-bg
{
    background: rgb(255,255,255);
    background: linear-gradient(99deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 61%, rgba(221,221,221,1) 100%);
    height: auto; 
}

.ss-sb
{
    background: rgb(83,0,0);
    background: linear-gradient(90deg, rgba(83,0,0,1) 0%, rgba(205,0,0,1) 100%);
    height: auto;
}

.nochange
{
    background: rgb(83,0,0);
    background: linear-gradient(90deg, rgba(83,0,0,1) 0%, rgba(205,0,0,1) 100%);
}

.ss-sb :hover
{
    background-color: var(--sb-bg-h);
}
 
.ss-sb a
{
    text-decoration: none;
    color: var(--sb-t);
    text-shadow: 1px 1px 1px #000000;
}

.ss-sb a:hover
{
    background: rgb(205,0,0);
    color: var(--sb-t-h);
    text-shadow: 2px 2px 2px #000000;
}

.nochange :hover
{
    background:  #00000000

}
.ss-nb
{
    background: rgb(205,0,0);
    background: linear-gradient(90deg, rgba(205,0,0,1) 0%, rgba(116,0,0,1) 50%, rgba(219,0,0,1) 100%);
}

.ss-nb a
{
    text-decoration: none;
    color: rgb(240, 240, 240); 
    text-shadow: 1px 1px 1px #000000;
}

.ss-nb a:hover
{
    color: #b9b9b9;
    text-shadow: 2px 2px 2px #000000;
}

.ss-nb button img 
{
    height: 15px;
}

.ss-nb span
{
    color: black;
}

/* Chat chats */
.chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 2px;
    margin: 2px 0;
  }
  
  /* Darker chat chat */
  .darker {
    border-color: rgb(168, 168, 168);
    background-color: #ddd;
  }
  
  /* Clear floats */
  .chat::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .chat img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 5px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .chat img.right {
    float: right;
    margin-left: 4px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
    size: 10px;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }

  .chat p
  {
      margin-bottom: -6px;
  }