<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, inicial-scale=1">
        <title>
            SubstanceSoft: Personalizar
        </title>
        <link href="../../css/bs/bootstrap.min.css" rel="stylesheet">
        <link href="../../css/clean-install.css" rel="stylesheet">
    </head>
    <body>
        <section class="container">
            <p>&nbsp;</p>
            <h1 class="text-uppercase text-center">Personalizar sistema</h2>
            <div class="card-deck">
                <div class="card text-center">
                    <div class="card-body">
                            <img class="card-img-top img-fluid" src="../../images/users.png" alt="Usuarios">
                            <div class="card-block">
                                <h4 class="card-title">Usuarios</h4>
                                <p class="card-text">Administre las credenciales con las que se usa el sistema</p>
                                <p><a href="../forms/nuevo-usuario.html" class="btn btn-primary">Agregar</a></p>
                                <p><a href="../lists/listar-usuarios.php" class="btn btn-primary">Ver</a></p>
                                <p><a href="../forms/modificar-usuario.php" class="btn btn-primary">Modificar</a></p>
                            </div>
                    </div>
                </div>
                <div class="card text-center">
                        <div class="card-body">
                                <img class="card-img-top img-fluid" src="../../images/cocinas.png" alt="Cocinas">
                                <div class="card-block">
                                    <h4 class="card-title">Cocinas</h4>
                                    <p class="card-text">Administre las múlltiples zonas de cocina en el sistema</p>
                                    <p><a href="../forms/nueva-cocina.html" class="btn btn-primary">Agregar</a></p>
                                    <p><a href="#" class="btn btn-primary">Ver</a></p>
                                    <p><a href="#" class="btn btn-primary">Modificar</a></p>
                                </div>
                        </div>
                    </div>
                    <div class="card text-center">
                            <div class="card-body">
                                    <img class="card-img-top img-fluid" src="../../images/ingredientes.png" alt="Usuarios">
                                    <div class="card-block">
                                        <h4 class="card-title">Ingredientes</h4>
                                        <p class="card-text">Administre los distintos ingredientes usados en el sistema</p>
                                        <p><a href="../forms/nuevo-ingrediente.html" class="btn btn-primary">Agregar</a></p>
                                        <p><a href="#" class="btn btn-primary">Ver</a></p>
                                        <p><a href="#" class="btn btn-primary">Modificar</a></p>
                                    </div>
                            </div>
                        </div>
                        <div class="card text-center">
                                <div class="card-body">
                                        <img class="card-img-top img-fluid" src="../../images/mesas.png" alt="Usuarios">
                                        <div class="card-block">
                                            <h4 class="card-title">Mesas</h4>
                                            <p class="card-text">Administre las distintas mesas que hay en el sistema.</p>
                                            <p><a href="../forms/nueva-mesa.html" class="btn btn-primary">Agregar</a></p>
                                            <p><a href="#" class="btn btn-primary">Ver</a></p>
                                            <p><a href="#" class="btn btn-primary">Modificar</a></p>
                                        </div>
                                </div>
                        </div>
            </div>
            <p>&nbsp;</p>
                <div class="card-deck">
                    <div class="card text-center">
                        <div class="card-body">
                                <img class="card-img-top img-fluid" src="../../images/roles.png" alt="Usuarios">
                                <div class="card-block">
                                    <h4 class="card-title">Roles</h4>
                                    <p class="card-text">Administre los roles de usuario</p>
                                    <p><a href="#" class="btn btn-primary">Agregar</a></p>
                                    <p><a href="#" class="btn btn-primary">Ver</a></p>
                                    <p><a href="#" class="btn btn-primary">Modificar</a></p>
                                </div>
                        </div>
                    </div>
                    <div class="card text-center">
                            <div class="card-body">
                                    <img class="card-img-top img-fluid" src="../../images/platillos.png" alt="Usuarios">
                                    <div class="card-block">
                                        <h4 class="card-title">Platillos</h4>
                                        <p class="card-text">Administre los platillos en el sistema</p>
                                        <p><a href="../forms/nuevo-platillo.php" class="btn btn-primary">Agregar</a></p>
                                        <p><a href="#" class="btn btn-primary">Ver</a></p>
                                        <p><a href="#" class="btn btn-primary">Modificar</a></p>
                                    </div>
                            </div>
                        </div>
                        <div class="card text-center">
                                <div class="card-body">
                                        <img class="card-img-top img-fluid" src="../../images/proveedores.png" alt="Usuarios">
                                        <div class="card-block">
                                            <h4 class="card-title">Proveedores</h4>
                                            <p class="card-text">Administre el listado de proveedores en el sistema</p>
                                            <p><a href="#" class="btn btn-primary">Agregar</a></p>
                                            <p><a href="#" class="btn btn-primary">Ver</a></p>
                                            <p><a href="#" class="btn btn-primary">Modificar</a></p>
                                        </div>
                                </div>
                            </div>
                            <div class="card text-center">
                                    <div class="card-body">
                                            <img class="card-img-top img-fluid" src="../../images/surtidos.png" alt="Usuarios">
                                            <div class="card-block">
                                                <h4 class="card-title">Surtidos</h4>
                                                <p class="card-text">Administre los proveedores automáticos del sistema</p>
                                                <p><a href="#" class="btn btn-primary">Agregar</a></p>
                                                <p><a href="#" class="btn btn-primary">Ver</a></p>
                                                <p><a href="#" class="btn btn-primary">Modificar</a></p>
                                            </div>
                                    </div>
                            </div>
                </div>
        </section>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</html>
