<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SubstanceSoft: Index</title>
  <link href="../../css/bs/bootstrap.min.css" rel="stylesheet">
  <link href="../../css/simple-sidebar.css" rel="stylesheet">
</head>
<body>
  <div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"> SubstanceSoft </div>
      <div class="list-group list-group-flush">
        <!--Submenu-->
        <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
        <!--Submenu-->
      </div>
    </div>
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">&#9668;</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Module 1</a>
                <a class="navbar-brand" href="#">Module 2</a>
                <a class="navbar-brand" href="#">Module 3</a>
                <a class="navbar-brand" href="#">Module 4</a>
              </nav>
        </div>
      </nav>
      <!--Body-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-9">
              <h1 class="mt-4">Simple Sidebar</h1>
              <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
              <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum iste repudiandae delectus voluptas voluptatem laborum sapiente, debitis rem dicta facere doloribus fugiat, tenetur necessitatibus quasi exercitationem eos ipsum quo unde!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, aut quibusdam vel eos distinctio tenetur laudantium iusto cumque earum doloribus, iste velit voluptatum, consequuntur dolor officia eum quas perferendis blanditiis?
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro odit quos facilis. Provident iste corporis et, hic quia maiores suscipit praesentium, illum repellat doloribus commodi in assumenda rem atque earum?
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, dolores harum alias consequatur delectus repellendus explicabo molestiae, a aspernatur illum, dolor autem corporis. Quaerat maxime possimus ab nam blanditiis inventore?
          </div>
          <div class="col-3">
            <div class="containter text-center">
              <img src="../../images/users.png" style="width: 50%;">
              <h3 class="mt4">
                Nombre del usuario
              </h3>
              <h4 class="mt4">
                Username
              </h4>
              <p class="well">Message</p>
              <p class="border">Message</p>

              <button type="button" class="align-self-end btn btn-danger" style="margin-top: auto;">Salir</button>
            </div>
          </div>
        </div>
      </div>
      <!--Body-->
    </div>
  </div>
  <script src="../../js/vendor/jquery/jquery.min.js"></script>
  <script src="../../js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../js/vendor/jquery-3.3.1.slim.min.js"></script>
  <script src="../../js/vendor/popper.min.js"></script>
  <script src="../../js/vendor/bootstrap.min.js"></script>
  <script src="../../js/vendor/common-functions.js"></script>
</body>
</html>
